<div class="w3-white w3-margin" id="about" style=" display: none">
    <img src="static/fotos/perfil_perola_.jpg" alt="Pérola" style="width:25%" class="w3-grayscale">
    <div class="w3-container w3-black" style="width:100%">
        <!--        <a href="javascript:void(0)" class="closebtn w3-large" style="right" onclick="esconderAbout()">&times;</a>-->
        <h4>Pérola</h4>
        <button type="button" class="closebtn" onclick="esconderAbout()">Esconder</button>
        <p>Herança africana, mais especificamente Yorùbá, as tranças Nagô são um símbolo de resistência para
            a população preta. </p>
        <p>A arte de trançar é uma tradição em muitas famílias, como é o caso da trancista <a
                rel="noreferrer noopener" href="https://www.instagram.com/perolacabelosafro/"
                target="_blank"><strong>Pérola Oliveira</strong></a>,
            que começou essa prática aos 12 anos, observando e admirando o trabalho de sua tia.</p>
        <p>Tia Cida, ou Dona Conceição, como todos a conhecem é uma exímia trancista Nagô muito conhecida,
            respeitada e querida no Bairro do Ipiranga, na cidade de São Paulo, onde vive há várias décadas</p>
        <p>Mulher preta de fibra, assim como minha mãe, Dona Zilda, que mantém viva a tradição Yorùbá do ato
            de trançar, que é um ato de Resistência Preta</p>
        <p>Esta página e este trabalho é dedicado a esta maravilhosa mulher preta, que tanto nos inspira</p>
        <p>Gratidão aos Ancestrais e às Divindades por ter nascido no seio desta família e ter tido o
            privilégio de colher ensinamentos e ter a convivência com minha querida Tia, que me ensinou tudo
            o que sei em termos de Tranças Nagô</p>

    </div>
</div>