<!-- The Contact Section -->
<div class="w3-container w3-content" id="contact">
    <h2 class="w3-wide w3-center">Agende seu horário</h2>
    <i class="fa fa-phone w3-xlarge"></i> <h3>WhatsApp: 11 98559-6904<br></h3>
    <i class="fa fa-envelope w3-xlarge"> </i> <h3>Email: passeiodospoetas@gmail.com<br></h3>
    <!--    <p class="w3-opacity w3-center"><i>Agende seu horário</i></p> -->
    <div class="w3-row">
        <div class="w3-large w3-margin-bottom w3-xlarge">
            <i class="fa fa-map-marker"></i>
            <h3>Atendemos no Centro Estético Denis Soares - R. Custódio Machado, n. 23 - V. Livieiro - Sacomã - São Paulo,
                SP - A cidade que não é sopa</h3>
            <i class="fa fa-map-marker w3-xlarge"></i>

            <a href="https://www.google.com/maps/dir/Terminal+Sacom%C3%A3+-+Ipiranga,+S%C3%A3o+Paulo+-+SP/Centro+Est%C3%A9tico+Denis+Hair+-+R.+Cust%C3%B3dio+Machado,+23+-+Vila+Liviero,+S%C3%A3o+Paulo+-+SP,+04186-090/@-23.6289824,-46.636008,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x94ce5b8fe177700b:0xadeb9c5ae9222229!2m2!1d-46.6025498!2d-23.6031522!1m5!1m1!1s0x94ce4587987bd96f:0xda39c1dc3af95a5b!2m2!1d-46.5987411!2d-23.6513424!3e3?hl=pt-BR"
               target="_blank" rel="noopener noreferrer"
               class="w3-bar-item w3-button">
                 <h3>Veja as linhas e trajetos no Google Maps</h3>
                <img src="static/fotos_uteis/mapa.png" alt="Mapa" style="width:100%" class="w3-grayscale w3-left">
                </a>
            <!--
            <a target="_blank" rel="noopener noreferrer"
                class="w3-bar-item w3-button"
                      href="https://moovitapp.com/sao_paulo-242/poi/Centro%20Est%C3%A9tico%20Denis%20Soares/Term.%20Sacoma%20(Sacom%C3%A3%20Terminal)/pt-br?tll=-23.6513_-46.59876&fll=-23.603638_-46.602434&customerId=4908&ref=1&poiType=ehsite">
                   <i class="fa fa-map-marker w3-xlarge"></i>
                    <h3>Veja as linhas e trajetos na Moovit</h3>

            </a>-->

            <a target="_blank" rel="noopener noreferrer"
                class="w3-bar-item w3-button"
                      href="https://www.waze.com/live-map/directions/brazil/sao-paulo/r.-custodio-machado,-23?utm_source=waze_website&utm_campaign=waze_website&utm_medium=website_menu&to=place.ChIJL11UvaxEzpQRKpMSjc33vHc&from=place.ChIJC3B34Y9bzpQRKSIi6Vqc660">
                   <h3>Calcular rota no Waze</h3>
                <img src="static/fotos_uteis/waze.png" alt="Uber"
                     style="width:50%"
                     class="w3-grayscale w3-center w3-large">


            </a>


            <a target="_blank" rel="noopener noreferrer"
                class="w3-bar-item w3-button"
               href="https://www.uber.com/global/pt-pt/price-estimate/">
                 <h3>  Calculador de tarifa do Uber  </h3>
                <img src="static/fotos_uteis/uber.png" alt="Uber"
                     style="width:50%"
                     class="w3-grayscale w3-center w3-large">
            </a>

        </div>
        <!--
     <div class="w3-col m6">
      <form action="/action_page.php" target="_blank">
         <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
           <div class="w3-half">
             <input class="w3-input w3-border" type="text" placeholder="Name" required name="Nome">
           </div>
           <div class="w3-half">
             <input class="w3-input w3-border" type="text" placeholder="Email" required name="WhatsApp">
           </div>
         </div>
         <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
         <button class="w3-button w3-black w3-section w3-right" type="submit">ENVIAR</button>
       </form>
     </div>
   </div>-->


        <!-- END About/Intro Menu -->


    </div>

</div>