{%  block footer %}
<!-- Footer -->
<footer class="w3-container w3-black">

    <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i
            class="fa fa-arrow-up w3-margin-right"></i>To the top</a>



 <!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-xlarge w3-right">
    <div class="w3-left">
                <img src="static/fotos_uteis/imagem_marca_2.png" alt="Marca"
                     style="width:50%"
                     class="w3-black w3-left w3-large">
            </div>
    <p></p><h3>Follow us</h3></p>
    <a href="https://www.facebook.com/perola.oliveira.16" target="_blank" rel="noopener noreferrer"
       class="w3-bar-item w3-button w3-xxxlarge"><i class="fa fa-facebook-official"></i></a>
    <a href="https://www.instagram.com/perolacabelosafro/" target="_blank" rel="noopener noreferrer"
       class="w3-bar-item w3-button w3-xxxlarge"><i class="fa fa-instagram"></i></a>
    <a href="https://www.instagram.com/perolacabelosafro/" target="_blank" rel="noopener noreferrer"
       class="w3-bar-item w3-button w3-xxxlarge"><i class="fa fa-snapchat"></i></a>
    <a href="https://www.instagram.com/perolacabelosafro/" target="_blank" rel="noopener noreferrer"
       class="w3-bar-item w3-button w3-xxxlarge"><i class="fa fa-flickr"></i></a>
    <a href="https://www.instagram.com/perolacabelosafro/" target="_blank" rel="noopener noreferrer"
       class="w3-bar-item w3-button w3-xxxlarge"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/perolacabelosafro/" target="_blank" rel="noopener noreferrer"
       class="w3-bar-item w3-button w3-xxxlarge"><i class="fa fa-linkedin"></i></a>

</div>



        <div id="desenvolvedor" class="w3-large">
        <p>Developer: Emmanuel de Oliveira Abruzzo - <a href="mailto:emmanuel.oliveira3@gmail.com">emmanuel.oliveira3@gmail.com</a>
         <a href="https://www.linkedin.com/in/emmanuel-abruzzo-8ba80a36/detail/contact-info/" target="_blank" rel="noopener noreferrer"
         class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i>   Linkedin - Emmanuel Abruzzo</a></p>
        </div>
        <div class="w3-black">

            <p class="css-xm4yxq eanm77i0"
               data-comp="StyledComponent BaseComponent ">
            <h3>© 2021 Perola Cabelos Afro - All rights reserved.</h3></p>
        </div>

</footer>
{% endblock %}
