{%  block footer %}
<!-- Footer -->
<footer class="w3-container w3-black">

    <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i
            class="fa fa-arrow-up w3-margin-right"></i>To the top</a>



 <!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-xlarge w3-right">
    <div class="w3-left">
        {% include 'imagem_marca_1.html' %}
            </div>
    {% include 'links_redes_sociais.html' %}

</div>



        <div id="desenvolvedor" class="w3-large">
        <p>Developer: Emmanuel de Oliveira Abruzzo - <a href="mailto:emmanuel.oliveira3@gmail.com">emmanuel.oliveira3@gmail.com</a>
         <a href="https://www.linkedin.com/in/emmanuel-abruzzo-8ba80a36/detail/contact-info/" target="_blank" rel="noopener noreferrer"
         class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i>   Linkedin - Emmanuel Abruzzo</a></p>
        </div>
        <div class="w3-black">

            <p class="css-xm4yxq eanm77i0"
               data-comp="StyledComponent BaseComponent ">
            <h3>© 2021 Perola Cabelos Afro - All rights reserved.</h3></p>
        </div>

</footer>
{% endblock %}
