{% block header %}
<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black">

    {% include 'imagem_marca_1.html' %}

        {% include 'links_redes_sociais.html' %}
    <a href="#about" class="w3-bar-item w3-button" onclick="esconderAbout()">Um pouquinho sobre mim</a>
    <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>

    <script>
        document.getElementById('audioplay').play()


    </script>

    <div class="w3-bar-item w3-button">
        <!--https://developer.mozilla.org/en-US/docs/Web/HTML/Element/audio-->
        <audio controls autoplay loop id="audioplay">
            <source src="{{ url_for('static', filename='audios/Ex-Factor.mp3') }}" type="audio/mpeg">
        </audio>
        <!-- <iframe style="display:block" width="560" height="315" src="https://www.youtube.com/embed/kBhi0E0znzc?start=90" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
    </div>



</div>
{% endblock %}