<p></p><h3>Follow us</h3></p>
    <a href="https://www.facebook.com/perola.oliveira.16" target="_blank" rel="noopener noreferrer"
       class="w3-bar-item w3-button w3-xxxlarge"><i class="fa fa-facebook-official"></i></a>
    <a href="https://www.instagram.com/perolacabelosafro/" target="_blank" rel="noopener noreferrer"
       class="w3-bar-item w3-button w3-xxxlarge"><i class="fa fa-instagram"></i></a>
    <a href="https://www.instagram.com/perolacabelosafro/" target="_blank" rel="noopener noreferrer"
       class="w3-bar-item w3-button w3-xxxlarge"><i class="fa fa-snapchat"></i></a>
    <a href="https://www.instagram.com/perolacabelosafro/" target="_blank" rel="noopener noreferrer"
       class="w3-bar-item w3-button w3-xxxlarge"><i class="fa fa-flickr"></i></a>
    <a href="https://www.instagram.com/perolacabelosafro/" target="_blank" rel="noopener noreferrer"
       class="w3-bar-item w3-button w3-xxxlarge"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/perolacabelosafro/" target="_blank" rel="noopener noreferrer"
       class="w3-bar-item w3-button w3-xxxlarge"><i class="fa fa-linkedin"></i></a>